<h1>Add a new recipe</h1>

<form action="/posts">
  Recipe name:</br>
  <input type="text" class="form-control" name="name"></br>
  </br>

  Recipe description:</br>
  <textarea name="description" class="form-control" rows="10" cols="30">
  </textarea></br>
  </br>

  Recipe cooking time:</br>
  <input type="text" class="form-control" name="cooking_time"></br>
  </br>

  Recipe difficulty:</br>
  <input type="text" class="form-control" name="difficulty"></br>
  </br>

  <input type="submit">

</form>
