
<div class="jumbotron">
  <h1>Welcome !</h1>
  <p>This is the e-cookbook</p>
  <p><a class="btn btn-primary btn-lg" href="/list" role="button">Let's start</a></p>
  <h2><img class="test" src="logo.png" style="width:40%"></h2>
</div>



<div class="alert alert-success" role="alert">
  <%= @message %>
</div>
